/*** COLORS ***********************************************************************************************************/
.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle {
  margin-left: -8px;
  position: absolute; }
  .react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before {
    box-sizing: content-box;
    position: absolute;
    border: 8px solid transparent;
    height: 0;
    width: 1px; }
  .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before {
    content: "";
    z-index: -1;
    border-width: 8px;
    left: -8px;
    border-bottom-color: #aeaeae; }

.react-datepicker__tether-element-attached-top .react-datepicker__triangle {
  top: 0;
  margin-top: -8px; }
  .react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
    border-top: none;
    border-bottom-color: #626262; }
  .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
    top: -1px;
    border-bottom-color: #aeaeae; }

.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle {
  bottom: 0;
  margin-bottom: -8px; }
  .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before {
    border-bottom: none;
    border-top-color: #626262; }
  .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before {
    bottom: -1px;
    border-top-color: #aeaeae; }

.react-datepicker__time {
  text-align: center;
  background-color: #626262;
  color: #ffffff;
  width: 206px; }
  .react-datepicker__time .react-datepicker__hour-select, .react-datepicker__time .react-datepicker__minute-select {
    width: 70px;
    padding: 3px;
    padding: 5px;
    border: solid 1px #626262;
    border-radius: 0px;
    margin-right: 5px; }
  .react-datepicker__time .react-datepicker__now-button {
    text-align: center;
    padding-bottom: 1rem; }
    .react-datepicker__time .react-datepicker__now-button span {
      border: 1px solid #ffffff;
      padding: 0.1em 1.8em;
      color: #ffffff;
      font-size: 0.8rem; }
    .react-datepicker__time .react-datepicker__now-button span:hover {
      cursor: pointer;
      background-color: #6f6f6f; }
  .react-datepicker__time .grid {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 0.1rem 0.7rem 0.1rem; }
  .react-datepicker__time .grid__column {
    display: flex;
    flex-direction: column;
    flex: 3;
    align-self: center; }
    .react-datepicker__time .grid__column--small {
      flex: 1;
      align-self: center; }
  .react-datepicker__time .grid__item {
    flex: 1;
    text-align: center;
    align-self: center;
    padding: 10px 0px; }
  .react-datepicker__time .triangle-up-time {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f0f0f0;
    cursor: pointer;
    display: inline-block; }
  .react-datepicker__time .triangle-down-time {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f0f0f0;
    cursor: pointer;
    display: inline-block; }
  .react-datepicker__time .time-dropdown_main {
    position: relative; }
  .react-datepicker__time .time-dropdown_dropdown {
    height: 700%;
    color: #626262;
    width: 250%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    left: -20px;
    right: 0;
    z-index: 10000;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #f0f0f0; }
    .react-datepicker__time .time-dropdown_dropdown:hover {
      cursor: pointer; }
  .react-datepicker__time .time-dropdown_label, .react-datepicker__time .amPm-label, .react-datepicker__time .grid__column--small span {
    font-weight: normal;
    font-size: 1.2rem;
    cursor: pointer; }
  .react-datepicker__time .time-dropdown_option {
    cursor: pointer;
    width: 100%;
    display: block; }
    .react-datepicker__time .time-dropdown_option:hover {
      background: #f0f0f0; }
    .react-datepicker__time .time-dropdown_option--selected {
      background: #EF6C00;
      color: #fff; }

.react-datepicker__tether-element {
  z-index: 2500; }

.react-datetimepicker {
  display: inline-block;
  position: relative; }
  .react-datetimepicker .react-datepicker {
    display: block; }

.react-datepicker {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 0;
  display: inline-block;
  position: relative;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-weight: 300;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

.react-datepicker__triangle {
  position: absolute;
  left: 30px; }

.react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
  margin-top: -20px; }

.react-datepicker__header {
  color: #fff;
  text-align: center;
  background-color: #626262;
  border: none;
  border-radius: 0;
  padding-top: 8px;
  position: relative; }
  .react-datepicker__header .react-datepicker__day-name {
    color: #f0f0f0; }
    .react-datepicker__header .react-datepicker__day-name:hover {
      background: #494949; }

.react-datepicker__current-month {
  margin-top: 0;
  color: #fff;
  font-weight: normal;
  font-size: 1rem;
  padding-bottom: 0px; }
  .react-datepicker__current-month--hasYearDropdown {
    margin-bottom: 5px; }

.react-datepicker__navigation {
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 0;
  border: 6px solid transparent; }
  .react-datepicker__navigation--previous {
    left: 10px;
    border-right-color: #f0f0f0; }
    .react-datepicker__navigation--previous:hover {
      border-right-color: #d7d7d7; }
  .react-datepicker__navigation--next {
    right: 10px;
    border-left-color: #f0f0f0; }
    .react-datepicker__navigation--next:hover {
      border-left-color: #d7d7d7; }
  .react-datepicker__navigation--years {
    position: relative;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    .react-datepicker__navigation--years-previous {
      top: 4px;
      border-top-color: #626262; }
      .react-datepicker__navigation--years-previous:hover {
        border-top-color: #494949; }
    .react-datepicker__navigation--years-upcoming {
      top: -4px;
      border-bottom-color: #626262; }
      .react-datepicker__navigation--years-upcoming:hover {
        border-bottom-color: #494949; }

.react-datepicker__week-day {
  color: #f0f0f0;
  display: inline-block;
  width: 28px;
  line-height: 24px; }

.react-datepicker__month {
  margin: 5px;
  text-align: center; }

.react-datepicker__day-name,
.react-datepicker__day {
  color: #444;
  display: inline-block;
  width: 24px;
  line-height: 24px;
  text-align: center;
  margin: 2px; }

.react-datepicker__day {
  cursor: pointer; }
  .react-datepicker__day:hover {
    border-radius: 4px;
    background-color: #f0f0f0; }
  .react-datepicker__day--today {
    font-weight: bold; }
  .react-datepicker__day--selected, .react-datepicker__day--in-range {
    border-radius: 4px;
    background-color: #EF6C00;
    color: #fff; }
    .react-datepicker__day--selected:hover, .react-datepicker__day--in-range:hover {
      background-color: #d66000; }
  .react-datepicker__day--disabled {
    cursor: default;
    color: #ccc; }
    .react-datepicker__day--disabled:hover {
      background-color: transparent; }

.react-datepicker__input-container {
  position: relative;
  display: inline-block; }
  .react-datepicker__input-container input {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    font-size: 1em; }
    .react-datepicker__input-container input:focus {
      border-bottom: solid 2px #969696; }

.react-datepicker__year-read-view {
  width: 100%;
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top: 0;
  color: #fff !important;
  font-weight: normal !important;
  font-size: 1rem; }
  .react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow {
    border-top-color: #d7d7d7; }
  .react-datepicker__year-read-view--selected-year {
    position: relative; }
    .react-datepicker__year-read-view--selected-year:hover {
      cursor: pointer; }

.react-datepicker__nav-year {
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 5px;
  width: 0;
  border: 6px solid transparent; }
  .react-datepicker__nav-year--previous {
    left: 10px;
    border-right-color: #f0f0f0; }
    .react-datepicker__nav-year--previous:hover {
      border-right-color: #d7d7d7; }
  .react-datepicker__nav-year--next {
    right: 10px;
    border-left-color: #f0f0f0; }
    .react-datepicker__nav-year--next:hover {
      border-left-color: #d7d7d7; }

.react-datepicker__year-dropdown {
  background-color: #fff;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 35px;
  text-align: center;
  border-radius: 0;
  border: 1px solid #626262; }
  .react-datepicker__year-dropdown:hover {
    cursor: pointer; }

.react-datepicker__year-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #626262; }
  .react-datepicker__year-option:first-of-type {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .react-datepicker__year-option:last-of-type {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  .react-datepicker__year-option:hover {
    background-color: #f0f0f0; }
  .react-datepicker__year-option--selected {
    position: absolute;
    left: 30px; }

.react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle; }
  .react-datepicker__close-icon::after {
    background-color: #EF6C00;
    border-radius: 50%;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    content: "\D7";
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 1;
    margin: -8px auto 0;
    padding: 2px;
    position: absolute;
    right: 7px;
    text-align: center;
    top: 50%; }

.react-datepicker__today-button {
  background: #f0f0f0;
  border-top: 1px solid #909090;
  color: #494949;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  padding: 1% 0;
  font-size: 0.7rem; }

.react-datepicker__tether-element {
  z-index: 2147483647; }

.react-datepicker__tabs {
  width: 100%;
  text-align: center;
  color: #525252;
  font-weight: bold;
  display: flex;
  display: -webkit-flex; }
  .react-datepicker__tabs .react-datepicker__tab-calendar, .react-datepicker__tabs .react-datepicker__tab-time {
    background-color: #f0f0f0;
    padding: 10px;
    flex-grow: 1;
    align-self: center;
    border-bottom: 1px solid #626262; }
    .react-datepicker__tabs .react-datepicker__tab-calendar svg, .react-datepicker__tabs .react-datepicker__tab-time svg {
      height: 15px; }
    .react-datepicker__tabs .react-datepicker__tab-calendar:hover, .react-datepicker__tabs .react-datepicker__tab-time:hover {
      cursor: pointer; }
    .react-datepicker__tabs .react-datepicker__tab-calendar--selected, .react-datepicker__tabs .react-datepicker__tab-time--selected {
      background: #626262;
      color: #fff; }
      .react-datepicker__tabs .react-datepicker__tab-calendar--selected svg, .react-datepicker__tabs .react-datepicker__tab-time--selected svg {
        height: 15px;
        fill: #f0f0f0; }

.react-datepicker__confirm-btn {
  background: #626262;
  text-align: center;
  padding: 12px; }
  .react-datepicker__confirm-btn .react-datepicker__cancel-btn, .react-datepicker__confirm-btn .react-datepicker__ok-btn {
    cursor: pointer;
    font-weight: bold;
    width: 80px;
    text-decoration: none;
    padding: 5px 12px 5px 12px;
    font-size: 0.8rem; }
  .react-datepicker__confirm-btn .react-datepicker__cancel-btn {
    color: #626262;
    background: #ffffff;
    border: solid #494949 1px;
    text-decoration: none;
    margin-right: 10px; }
    .react-datepicker__confirm-btn .react-datepicker__cancel-btn:hover {
      background: #f2f2f2; }
  .react-datepicker__confirm-btn .react-datepicker__ok-btn {
    color: #ffffff;
    background: #EF6C00;
    border: solid #EF6C00 1px; }
    .react-datepicker__confirm-btn .react-datepicker__ok-btn:hover {
      background: #ff780a; }
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q,
blockquote {
  quotes: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block; }

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  -webkit-text-size-adjust: none; }

.hljs-comment,
.diff .hljs-header {
  color: #998;
  font-style: italic; }

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #333;
  font-weight: bold; }

.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
  color: #008080; }

.hljs-string,
.hljs-tag .hljs-value,
.hljs-doctag,
.tex .hljs-formula {
  color: #d14; }

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: #900;
  font-weight: bold; }

.hljs-list .hljs-keyword,
.hljs-subst {
  font-weight: normal; }

.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458;
  font-weight: bold; }

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rule .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal; }

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.hljs-name {
  color: #008080; }

.hljs-regexp {
  color: #009926; }

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #990073; }

.hljs-built_in {
  color: #0086b3; }

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold; }

.hljs-deletion {
  background: #fdd; }

.hljs-addition {
  background: #dfd; }

.diff .hljs-change {
  background: #0086b3; }

.hljs-chunk {
  color: #aaa; }

.hero {
  color: #fff;
  background-color: #216ba5; }
  .hero__content {
    text-align: center;
    padding: 175px 0; }
  .hero__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    border-bottom: 0;
    margin-bottom: 5px; }
  .hero__image {
    height: 14px; }
  .hero__example {
    width: 210px;
    margin: 0 auto; }
  .hero__crafted-by {
    margin-bottom: 30px; }
  .hero__crafted-by-link {
    color: #fff; }

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0; }

.examples__navigation {
  display: none; }
  @media (min-width: 640px) {
    .examples__navigation {
      width: 200px;
      float: left;
      display: block;
      list-style: none;
      margin: 0;
      margin-right: 20px;
      border: 1px solid #e4e4e4;
      background: #fff;
      border-radius: 4px;
      overflow: hidden; } }

.examples__navigation-item {
  border-bottom: 1px solid #e4e4e4; }
  .examples__navigation-item:last-child {
    border-bottom: none; }
  .examples__navigation-item a {
    padding: 10px;
    color: inherit;
    text-decoration: none;
    display: block; }
    .examples__navigation-item a:hover {
      background: #f5f5f5;
      text-decoration: underline; }

.examples {
  overflow: hidden; }

.example {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e4e4e4;
  padding: 20px;
  margin-bottom: 20px; }
  .example__heading {
    color: #216ba5;
    font-weight: 400;
    font-size: 18px;
    border: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 20px; }
  .example__code {
    background-color: #f5f8fb;
    padding: 20px;
    margin: 0 -20px 20px;
    border-top: 1px solid #d8e4ef;
    border-bottom: 1px solid #d8e4ef;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; }
    @media (min-width: 768px) {
      .example__code {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-right: 1px solid #d8e4ef;
        margin-bottom: 0; } }
    .example__code code {
      background: none;
      border: 0; }

.red-border {
  border-color: #f00; }

.hero__content, .wrapper {
  max-width: 1100px;
  margin: 0 auto; }

html,
body {
  height: 100%;
  background: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  color: #555;
  font-size: 14px;
  line-height: 21px; }
  html input,
  body input {
    width: 100%; }

a {
  text-decoration: none; }

p {
  margin-bottom: 15px; }

ul {
  list-style: disc;
  margin-left: 40px;
  margin-bottom: 15px; }

h1,
h2 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4; }

h1 {
  padding-bottom: .3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee; }

h2 {
  padding-bottom: .3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee; }

code {
  padding: 2px 4px;
  border: 1px solid #ccc;
  margin: 0;
  font-size: 85%;
  background-color: #e8e7e7;
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; }

strong {
  font-weight: 600; }

.wrapper {
  padding: 20px; }

@media (min-width: 768px) {
  .row {
    display: flex; } }

@media (min-width: 768px) {
  .column {
    width: 50%; }
    .column:first-child {
      margin-right: 20px; } }
