.react-datepicker__time{
    text-align: center;
    background-color: $color-profile-10;
    color: $color-profile-13;
    width: 206px;

    .react-datepicker__hour-select, .react-datepicker__minute-select {
      width: 70px;
      padding: 3px;
      padding: 5px;
      border: solid 1px $color-profile-10;
      border-radius: 0px;
      margin-right: 5px;
   }

   .react-datepicker__now-button{
     text-align: center;
     padding-bottom: 1rem;
     span{
       border: 1px solid $color-profile-13;
       padding: 0.1em 1.8em;
       color: $color-profile-13;
       font-size: 0.8rem;
     }
     span:hover{
       cursor: pointer;
       background-color: lighten($color-profile-10, 5%);
     }
   }

   .grid{
     display: flex;
     flex-direction: row;
     padding: 1.5rem 0.1rem 0.7rem 0.1rem;
   }

   .grid__column{
     display: flex;
     flex-direction: column;
     flex: 3;
     align-self: center;

     &--small{
       flex: 1;
       align-self: center;
     }
   }

   .grid__item{
     flex: 1;
     text-align: center;
     align-self: center;
     padding: 10px 0px;
   }

   .triangle-up-time {
   	width: 0;
   	height: 0;
   	border-left: 10px solid transparent;
   	border-right: 10px solid transparent;
   	border-bottom: 10px solid $color-profile-12;
     cursor: pointer;
     display: inline-block;
   }


   .triangle-down-time {
   	width: 0;
   	height: 0;
   	border-left: 10px solid transparent;
   	border-right: 10px solid transparent;
   	border-top: 10px solid $color-profile-12;
     cursor: pointer;
     display: inline-block;
   }

   .time-dropdown_main{
     position: relative;
   }

   .time-dropdown_dropdown{
     height: 700%;
     color: $color-profile-10;

     width: 250%;
     position: absolute;
     margin-left: auto;
     margin-right: auto;
     top: 30px;
     left: -20px;
     right: 0;

     z-index: 10000;
     max-height: 200px;
     overflow-y: auto;
     background-color: #fff;
     text-align: center;
     border-radius: 2px;
     border: 1px solid $background-color;

     &:hover {
       cursor: pointer;
     }
   }

   .time-dropdown_label, .amPm-label, .grid__column--small span{
     font-weight: normal;
     font-size: 1.2rem;
     cursor: pointer;
   }

   .time-dropdown_option{
     cursor: pointer;
     width: 100%;
     display: block;

     &:hover{
       background: $color-profile-12;
     }

     &--selected{
       background: $color-profile-1;
       color: #fff;
     }
   }
}
