$border-color: #aeaeae;
$background-color: #f0f0f0;
$selected-color: #216ba5;
$muted-color: #ccc;
$text-color: #000;

$border-radius: 4px;
$item-size: 24px;
$day-margin: 2px;
$triangle-size: 8px;
$datepicker__margin: 5px;
$navigation-size: 6px;


/*** COLORS ***********************************************************************************************************/
$color-profile-1:       #F27200; // orange
$color-profile-2:       #55a3c3; // blue
$color-profile-3:       #666666; // gray
$color-profile-4:       #4a90e2; // selection
$color-profile-5:       #55bd00; // green
$color-profile-6:       #b2b2b2; // border gray
$color-profile-7:       #cbe4ef; // list selection
$color-profile-8:       #f07201;
$color-profile-9:       #C1C1C1; //material input label

$color-profile-10:      #626262; //medium gray
$color-profile-11:      #494949; //dark gray
$color-profile-12:      #f0f0f0; //light gray
